<hr style="margin-top: 20px;" />
<h2>Deferrable views (load components)</h2>

@defer () {
  <app-new/>
}@placeholder {
  <p>show before load something on page</p>
}@loading {
  <p>loading component</p>
}@error {
  <p>loading failed</p>
}

<hr style="margin-top: 20px;" />
<h2>Deferrable views (load components) with params - on</h2>
<!--
  // idle (default)
  // timer
  // viewport
  // interaction
  // hover
  // immediate
  // prefetch

  @defer (on timer(5s), viewport, hover) {.  ---- this work as OR logic
-->
@defer (on timer(5s)) {
  <app-new/>
}@placeholder {
  <p>show before load something on page</p>
}@loading {
  <p>loading component</p>
}@error {
  <p>loading failed</p>
}



<hr style="margin-top: 20px;" />
<h2>Deferrable views (load components) with params - when</h2>
<button (click)="show = true">add true</button>
@defer (when show) {
  <app-new/>
}@placeholder {
  <p>show before load page</p>
}@loading {
  <p>loading component</p>
}@error {
  <p>loading failed</p>
}

@defer (when data | async) {
  <p>show component after load data</p>
  <app-new/>
}@placeholder {
  <p>show before load page</p>
}@loading {
  <p>loading component</p>
}@error {
  <p>loading failed</p>
}


<hr style="margin-top: 20px;" />
<h2 #trigger>Deferrable views (load components) with params - interaction - placeholder</h2>

@defer {
  <app-new />
}@placeholder(minimum 5s) {
  <p>show before load page</p>
}@loading {
  <p>loading component</p>
}@error {
  <p>loading failed</p>
}


<hr style="margin-top: 20px;" />
<h2 #trigger>Deferrable views (load components) with - loading after 2s</h2>

@defer {
  <app-new />
}@placeholder(minimum 5s) {
  <p>show before load page</p>
}@loading (after 150ms; minimum 2s){
  <p>loading component</p>
}@error {
  <p>loading failed</p>
}

